{{#familes}}
<div class="gs-container">
  <div class="new-arrivals {{layout}}">
    <div class="new-arrivals--image {{layout}}">
      <img src="{{image}}">
    </div>
    <div class="content__main-column">
      <div class="new-arrivals--text">
        <h1>{{familyName}}</h1>
        <h2>{{familyLocation}}</h2>
        <p><pre>{{intro}}</pre></p>
        <div class='more toggle-text'>Read more</div>
        <div class='description'>
            <p><pre>{{description}}</pre></p>
            <p class='by'>{{byline}}</p>
            <p>Follow {{partnerName}}’s project <a href='{{partnerLink}}'>here</a></p>
        </div>
        <div class='less toggle-text'>Less</div>
        <a href="{{linkLocation}}">
          <div class="link">{{linkText}}</div>
        </a>
      </div>
    </div>
  </div>
</div>
{{/familes}}
