{{#familes}}
<div class="gs-container">
  <div class="new-arrivals {{layout}}">
    <div class="new-arrivals--image {{layout}}">
      <img src="{{image}}">
    </div>
    <div class="content__main-column">
      <div class="new-arrivals--text">
        <h1>{{familyName}}</h1>
        <h2>{{familyLocation}}</h2>
        <p><pre>{{description}}</pre></p>
        <a href="{{linkLocation}}">
          <div class="link">{{linkText}}</div>
        </a>
      </div>
    </div>
  </div>
</div>
{{/familes}}
